<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.born2go.myexpress" android:versionName="1" android:versionCode="4">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="MyExpress" android:icon="@drawable/Icon"></application>
</manifest>